boto3==1.34.101
botocore==1.34.101
jupyterlab==3.6.8
pandas==1.5.3
sagemaker==2.219.0
streamlit==1.37.0
streamlit-extras==0.4.2
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.4
streamlit-navigation-bar==3.3.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
